SolitaireCalculation.exe
SolitaireCalculation_Package/test/testpointer.exe
SolitaireCalculation_Package/test/threeopetarer.c
SolitaireCalculation_Package/test/threeopetarer.exe
SolitaireCalculation_Package/test/tree.txt
SolitaireCalculation_Package/test/in/main.c
SolitaireCalculation_Package/test/in/main.exe
SolitaireCalculation_Package/test/in/a/header.h
